.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  background-color: #1a1a1d;
  align-items: center;
  justify-content: center;
  color: white;
}

.header {
  background: #2979ff;
  padding: 1rem;
}

.header h2 {
  margin: 0;
}

.content {
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.input {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 20%;
  margin: 1%;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
